{
  "openapi": "3.0.1",
  "info": {
    "description": "this is paro api.",
    "version": "1.0.0",
    "title": "Swagger partobanoo"
  },
  "servers":[
    {
      "url": "https://api.partobanoo.com"
    },
    {
      "url": "http://localhost:2218"
    }
  ],
  "tags": [
    {
      "name": "user",
      "description": "Everything about users"
    },
    {
      "name": "article",
      "description": "Access to article"
    },
    {
      "name": "note",
      "description": "Operations about user"
    },
    {
      "name": "survay",
      "description": "Operations about user"
    }
  ],
  "paths": {
    "/survey/surveyQuestion/{lang}": {
      "post": {
        "summary": "Returns survey question.",
        "tags": [
          "survay"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "lang",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          {
            "name": "x-auth-token",
            "in": "header",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "an authorization header"
                }
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  }
                },
                "required": [
                  "email"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "answers": {
                      "type": "object",
                      "description": "list of answer that user can select them.",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "description": "number of answers"
                        },
                        "answer": {
                          "type": "string",
                          "description": "text for answers"
                        }
                      }
                    },
                    "userAnswers": {
                      "type": "string",
                      "description": "number of answer that user select them befor."
                    },
                    "userDescription": {
                      "type": "string",
                      "description": "user description about answer."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "envalid email address"
          }
        }
      }
    }
   
    
  }
}