{
  "openapi": "3.0.1",
  "info": {
    "description": "this is paro api.",
    "version": "1.0.0",
    "title": "Swagger partobanoo"
  },
  "servers": [
    {
      "url": "https://api.partobanoo.com"
    },
    {
      "url": "http://localhost:2218"
    }
  ],
  "tags": [
    {
      "name": "user",
      "description": "Everything about users"
    },
    {
      "name": "survay",
      "description": "Operations about user"
    },
    {
      "name": "article",
      "description": "Access to article"
    },
    {
      "name": "interview",
      "description": "user extera information"
    },
    {
      "name": "profile",
      "description": "user profile"
    },
    {
      "name": "note",
      "description": "Operations about user"
    },
    {
      "name": "contactUs"
    },
    {
      "name": "healthTracking",
      "description": "user health tracking"
    }
  ],
  "paths": {
    "/contactUs/Email": {
      "post": {
        "summary": "send email to parto manager .",
        "tags": [
          "contactUs"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  },
                  "message": {
                    "type": "string"
                  },
                  "title": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "send email successful"
          },
          "502": {
            "description": "server error to send email"
          }
        }
      }
    },
    "/user/signUp/{lang}": {
      "post": {
        "summary": "sign up new user with phone.",
        "tags": [
          "user"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "lang",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "language"
                }
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "phone"
                ],
                "properties": {
                  "phone": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "imei": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "x-auth-token": {
                "required": true,
                "description": "token set to response header",
                "content": {
                  "application/json": {
                    "schema": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "description": "user id"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "invalid input"
          },
          "409": {
            "description": "phone exist"
          }
        }
      }
    },
    "/user/linkForgetPassword/{lang}": {
      "post": {
        "summary": "Returns link for forget pasword.",
        "tags": [
          "user"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "lang",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "language"
                }
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "phone": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "send sms successful"
          },
          "400": {
            "description": "invalid input (phone number)"
          },
          "418": {
            "description": "Your account credit is not enough"
          },
          "502": {
            "description": "server error to send email"
          }
        }
      }
    },
    "/user/setNewPassword/{lang}": {
      "post": {
        "summary": "Returns survey question.",
        "tags": [
          "user"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "lang",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "language"
                }
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "uuid": {
                    "type": "string"
                  },
                  "newPassword": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "send email successful"
          },
          "400": {
            "description": "envalid input"
          }
        }
      }
    },
    "/user/changePassword/{lang}": {
      "post": {
        "summary": "Returns survey question.",
        "tags": [
          "user"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "lang",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "language"
                }
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "phone": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string",
                    "description": "periviuse password"
                  },
                  "newPassword": {
                    "type": "string",
                    "description": "new password"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "send email successful"
          },
          "400": {
            "description": "envalid input"
          }
        }
      }
    },
    "/auth/verifyCode": {
      "post": {
        "summary": "Returns survey question.",
        "tags": [
          "user"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "phone": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "send sms successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "description": "verify code",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "invalid input (phone number/email)"
          },
          "418": {
            "description": "Your account credit is not enough"
          },
          "502": {
            "description": "server error to send email"
          }
        }
      }
    },
    "/auth/signIn/{lang}": {
      "post": {
        "tags": [
          "user"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "lang",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "language"
                }
              }
            }
          }
        ],
        "summary": "Creates a new user.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "phone": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "description": "user id"
                        },
                        "userName": {
                          "type": "string",
                          "description": "user id"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "phone exist / invalid input"
          }
        }
      }
    },
    "/note/{lang}/{userId}/{date}": {
      "get": {
        "summary": "return note content.",
        "tags": [
          "note"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "lang",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "language"
                }
              }
            }
          },
          {
            "in": "path",
            "name": "userId",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "language"
                }
              }
            }
          },
          {
            "in": "path",
            "name": "date",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "language"
                }
              }
            }
          },
          {
            "name": "x-auth-token",
            "in": "header",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "an authorization header"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "content": {
                          "type": "string",
                          "description": "note content"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "note is not exist"
          }
        }
      }
    },
    "/survay/surveyQuestion/{lang}": {
      "post": {
        "summary": "Returns survey question.",
        "tags": [
          "survay"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "lang",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "language"
                }
              }
            }
          },
          {
            "in": "header",
            "name": "x-auth-token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "an authorization header"
                }
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "IMEi": {
                    "type": "string"
                  },
                  "userId": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "answers": {
                      "type": "object",
                      "description": "list of answer that user can select them.",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "description": "number of answers"
                        },
                        "answer": {
                          "type": "string",
                          "description": "text for answers"
                        }
                      }
                    },
                    "userAnswers": {
                      "type": "string",
                      "description": "number of answer that user select them befor."
                    },
                    "userDescription": {
                      "type": "string",
                      "description": "user description about answer."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "envalid input"
          }
        }
      }
    },
    "/survay/userSurveyAnswer/{lang}": {
      "put": {
        "summary": "update user survey answers.",
        "tags": [
          "survay"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "lang",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "language"
                }
              }
            }
          },
          {
            "in": "header",
            "name": "x-auth-token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "an authorization header"
                }
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "rate"
                ],
                "properties": {
                  "userId": {
                    "type": "integer"
                  },
                  "IMEi": {
                    "type": "string"
                  },
                  "rate": {
                    "type": "integer"
                  },
                  "answers": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "successful"
          },
          "400": {
            "description": "envalid input /invalid id / inavlid token"
          },
          "401": {
            "description": "no permition"
          }
        }
      }
    },
    "/article/getArticleContent/{lang}/{articleId}": {
      "get": {
        "tags": [
          "article"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "lang",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "language"
                }
              }
            }
          },
          {
            "in": "path",
            "name": "articleId",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "description": "article id"
                }
              }
            }
          },
          {
            "in": "header",
            "name": "x-auth-token",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "an authorization header"
                }
              }
            }
          }
        ],
        "summary": "get article content with id",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "description": "article content",
                      "properties": {
                        "content": {
                          "type": "string",
                          "description": "article content"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "article not found"
          }
        }
      }
    },
    "/article/getArticleTitle/{lang}/{articleId}": {
      "get": {
        "tags": [
          "article"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "lang",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "language"
                }
              }
            }
          },
          {
            "in": "path",
            "name": "articleId",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "description": "article id"
                }
              }
            }
          },
          {
            "in": "header",
            "name": "x-auth-token",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "an authorization header"
                }
              }
            }
          }
        ],
        "summary": "get article title with id",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "description": "article title",
                      "properties": {
                        "title": {
                          "type": "string",
                          "description": "article title"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "article not found"
          }
        }
      }
    },
    "/article/getArticlesList/{categoryId}": {
      "get": {
        "tags": [
          "article"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "categoryId",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "language"
                }
              }
            }
          }
        ],
        "summary": "get list of articles with category id",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "description": "articles list",
                      "properties": {
                        "articles": {
                          "type": "string",
                          "description": "articles list in speshal category and type articles is array"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/healthTracking/getCategories": {
      "get": {
        "tags": [
          "healthTracking"
        ],
        "parameters": [
          {
            "name": "x-auth-token",
            "in": "header",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "an authorization header"
                }
              }
            }
          }
        ],
        "summary": "get list of categories",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string",
                      "description": "list of categories"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/healthTracking/addCategory/{lang}": {
      "post": {
        "tags": [
          "healthTracking"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "lang",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "language"
                }
              }
            }
          },
          {
            "name": "x-auth-token",
            "in": "header",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "an authorization header"
                }
              }
            }
          }
        ],
        "summary": "update category",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "description": "list of categories",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "description": "category id"
                        },
                        "title": {
                          "type": "string",
                          "description": "category title"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "category exist"
          }
        }
      }
    },
    "/healthTracking/editCategory/{lang}/{id}": {
      "put": {
        "tags": [
          "healthTracking"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "lang",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "language"
                }
              }
            }
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "description": "id"
                }
              }
            }
          },
          {
            "name": "x-auth-token",
            "in": "header",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "an authorization header"
                }
              }
            }
          }
        ],
        "summary": "add new category",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "syccessful"
          },
          "404": {
            "description": "any category is not exist wuth this id"
          }
        }
      }
    },
    "/healthTracking/deleteCategory/{lang}/{id}": {
      "delete": {
        "tags": [
          "healthTracking"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "lang",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "language"
                }
              }
            }
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "description": "id"
                }
              }
            }
          },
          {
            "name": "x-auth-token",
            "in": "header",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "an authorization header"
                }
              }
            }
          }
        ],
        "summary": "delete category",
        "responses": {
          "200": {
            "description": "syccessful"
          },
          "404": {
            "description": "any category is not exist wuth this id"
          }
        }
      }
    },
    "/healthTracking/setUserInfo:{lang}": {
      "post": {
        "tags": [
          "healthTracking"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "lang",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "language"
                }
              }
            }
          },
          {
            "name": "x-auth-token",
            "in": "header",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "an authorization header"
                }
              }
            }
          }
        ],
        "summary": "set user healthi tracking information",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "userId": {
                    "type": "integer"
                  },
                  "date": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "successful"
          }
        }
      }
    },
    "/healthTracking/getUserInfo/{userId}/{date}": {
      "get": {
        "tags": [
          "healthTracking"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "userId",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "description": "user id"
                }
              }
            }
          },
          {
            "in": "path",
            "name": "date",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "date"
                }
              }
            }
          },
          {
            "name": "x-auth-token",
            "in": "header",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "an authorization header"
                }
              }
            }
          }
        ],
        "summary": "get information about user health tracking",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "description": "list of categories",
                      "properties": {
                        "options": {
                          "type": "string",
                          "description": "category id"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/profile/{userId}/{lang}": {
      "get": {
        "tags": [
          "profile"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "userId",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "description": "user id"
                }
              }
            }
          },
          {
            "in": "path",
            "name": "lang",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "language"
                }
              }
            }
          },
          {
            "name": "x-auth-token",
            "in": "header",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "an authorization header"
                }
              }
            }
          }
        ],
        "summary": "send user peofile information to user",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "description": "user profile information",
                      "properties": {
                        "user_id": {
                          "type": "integer"
                        },
                        "birthdate": {
                          "type": "string"
                        },
                        "avg_cycle_length": {
                          "type": "integer"
                        },
                        "avg_period_length": {
                          "type": "integer"
                        },
                        "avg_sleeping_hour": {
                          "type": "integer"
                        },
                        "pms_length": {
                          "type": "integer"
                        },
                        "height": {
                          "type": "integer"
                        },
                        "weight": {
                          "type": "integer"
                        },
                        "pregnant": {
                          "type": "integer"
                        },
                        "pregnancy_try": {
                          "type": "integer"
                        },
                        "use_lock": {
                          "type": "integer"
                        },
                        "zygosisDate": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "user not found"
          }
        }
      }
    },
    "/interview/ordinarUser/{lang}": {
      "post": {
        "tags": [
          "interview"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "lang",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "language"
                }
              }
            }
          },
          {
            "name": "x-auth-token",
            "in": "header",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "an authorization header"
                }
              }
            }
          }
        ],
        "summary": "save ordinar User peofile information in data base",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "description": "user profile information",
                    "properties": {
                      "userId": {
                        "type": "integer"
                      },
                      "birthdate": {
                        "type": "string"
                      },
                      "avgCycleLength": {
                        "type": "integer"
                      },
                      "avgPeriodLength": {
                        "type": "integer"
                      },
                      "lastPeriodDate": {
                        "type": "string"
                      }
                    }
                  }
                },
                "example": {
                  "userId": 2,
                  "birthdate": "1377-05-05",
                  "avgCycleLength": 25,
                  "avgPeriodLength": 7,
                  "lastPeriodDate": "2020-05-05"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "invalid intery."
          },
          "404": {
            "description": "information not found (user id isn't exist )"
          },
          "409": {
            "description": "user profile information exist."
          }
        }
      }
    },
    "/interview/pregnentUser/{lang}": {
      "post": {
        "tags": [
          "interview"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "lang",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "language"
                }
              }
            }
          },
          {
            "name": "x-auth-token",
            "in": "header",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "an authorization header"
                }
              }
            }
          }
        ],
        "summary": "save pregnant User peofile information in data base",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "description": "user profile information",
                    "required": [
                      "userId",
                      "pregnancyWeek"
                    ],
                    "properties": {
                      "userId": {
                        "type": "integer"
                      },
                      "birthdate": {
                        "type": "string"
                      },
                      "pregnancyWeek": {
                        "type": "integer"
                      },
                      "lastPeriodDate": {
                        "type": "string"
                      },
                      "zygosisDate": {
                        "type": "string"
                      },
                      "dueDate": {
                        "type": "string"
                      }
                    }
                  }
                },
                "example": {
                  "userId": 2,
                  "birthdate": "1377-05-05",
                  "pregnancyWeek": 3,
                  "lastPeriodDate": "2020-05-05",
                  "zygosisDate": "2020-05-05",
                  "dueDate": "2020-05-05"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "invalid intery."
          },
          "404": {
            "description": "information not found (user id isn't exist )"
          },
          "409": {
            "description": "user profile information exist."
          }
        }
      }
    }
  }
}