{
  "openapi": "3.0.1",
  "info": {
    "description": "this is paro api.",
    "version": "1.0.0",
    "title": "Swagger partobanoo"
  },
  "servers": [
    {
      "url": "https://api.partobanoo.com"
    },
    {
      "url": "http://localhost:2218"
    }
  ],
  "tags": [
    {
      "name": "user",
      "description": "Everything about users"
    },
    {
      "name": "article",
      "description": "Access to article"
    },
    {
      "name": "note",
      "description": "Operations about user"
    },
    {
      "name": "survay",
      "description": "Operations about user"
    },
    {
      "name": "contactUs"
    }
  ],
  "paths": {
    "/contactUs/Email": {
      "post": {
        "summary": "send email to parto manager .",
        "tags": [
          "contactUs"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  },
                  "message": {
                    "type": "string"
                  },
                  "title": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "send email successful"
          },
          "502": {
            "description": "server error to send email"
          }
        }
      }
    },
    "/auth/emailForgetPassword/{lang}": {
      "post": {
        "summary": "Returns survey question.",
        "tags": [
          "user"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "lang",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "language"
                }
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "send email successful"
          },
          "502": {
            "description": "server error to send email"
          }
        }
      }
    },
    "/auth/forgotPassword/{lang}": {
      "post": {
        "summary": "Returns survey question.",
        "tags": [
          "user"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "lang",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "language"
                }
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "uuid": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "send email successful"
          },
          "400": {
            "description": "envalid input"
          }
        }
      }
    },
    "/auth/changePassword/{lang}": {
      "post": {
        "summary": "Returns survey question.",
        "tags": [
          "user"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "lang",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "language"
                }
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string",
                    "description": "periviuse password"
                  },
                  "newPassword": {
                    "type": "string",
                    "description": "new password"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "send email successful"
          },
          "400": {
            "description": "envalid input"
          }
        }
      }
    },
    "/auth/sendVerificationCode": {
      "post": {
        "summary": "Returns survey question.",
        "tags": [
          "user"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "send email successful"
          },
          "400": {
            "description": "envalid input"
          },
          "502": {
            "description": "server error to send email"
          }
        }
      }
    },
    "/survay/surveyQuestion/{lang}": {
      "post": {
        "summary": "Returns survey question.",
        "tags": [
          "survay"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "lang",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "language"
                }
              }
            }
          },
          {
            "name": "x-auth-token",
            "in": "header",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "an authorization header"
                }
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "answers": {
                      "type": "object",
                      "description": "list of answer that user can select them.",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "description": "number of answers"
                        },
                        "answer": {
                          "type": "string",
                          "description": "text for answers"
                        }
                      }
                    },
                    "userAnswers": {
                      "type": "string",
                      "description": "number of answer that user select them befor."
                    },
                    "userDescription": {
                      "type": "string",
                      "description": "user description about answer."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "envalid input"
          }
        }
      }
    },
    "/survay/userSurveyAnswer/{lang}": {
      "put": {
        "summary": "update user survey answers.",
        "tags": [
          "survay"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "lang",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "language"
                }
              }
            }
          },
          {
            "name": "x-auth-token",
            "in": "header",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "an authorization header"
                }
              }
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "rate": {
                    "type": "integer"
                  },
                  "answers": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "successful"
          },
          "400": {
            "description": "envalid email address"
          }
        }
      }
    },
    "/auth/signIn/{lang}": {
      "post": {
        "tags": [
          "user"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "lang",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "language"
                }
              }
            }
          }
        ],
        "summary": "Creates a new user.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ok"
          },
          "400": {
            "description": "nok"
          }
        }
      }
    }
  }
}