{
  "openapi": "3.0.1",
  "info": {
    "description": "this is paro api.",
    "version": "1.0.0",
    "title": "Swagger parto"
  },
  "servers": [
    {
      "url": "https://api.parto.app"
    },
    {
      "url": "http://localhost:2216"
    },
    {
      "url": "https://dev.parto.app"
    }
  ],
  "tags": [
    {
      "name": "user",
      "description": "Everything about users"
    },
    {
      "name": "survay",
      "description": "Operations about user"
    },
    {
      "name": "interview",
      "description": "user extera information"
    },
    {
      "name": "profile",
      "description": "user profile"
    },
    {
      "name": "pregnancy",
      "description": "user pregnant informayion"
    },
    {
      "name": "cycle",
      "description": "calender and period cycle info"
    },
    {
      "name": "note",
      "description": "Operations about user"
    },
    {
      "name": "contactUs"
    },
    {
      "name": "healthTracking",
      "description": "user health tracking"
    }
  ],
  "paths": {
    "/contactUs/Email": {
      "post": {
        "summary": "send email to parto manager .",
        "tags": ["contactUs"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  },
                  "message": {
                    "type": "string"
                  },
                  "title": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "send email successful"
          },
          "502": {
            "description": "server error to send email"
          }
        }
      }
    },
    "/auth/logIn/{lang}": {
      "post": {
        "summary": "login(sign in / sign up) user with phone.",
        "tags": ["user"],
        "parameters": [
          {
            "in": "path",
            "name": "lang",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "language"
                }
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "imei is not requier and can be not in body",
                "required": ["phone"],
                "properties": {
                  "phone": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "imei": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "x-auth-token": {
                "required": true,
                "description": "token set to response header",
                "content": {
                  "application/json": {
                    "schema": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "description": "user id"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "invalid input"
          }
        }
      }
    },
    "/user/signUp/{lang}": {
      "post": {
        "summary": "sign up new user with phone.",
        "tags": ["user"],
        "parameters": [
          {
            "in": "path",
            "name": "lang",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "language"
                }
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["phone"],
                "properties": {
                  "phone": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "imei": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "x-auth-token": {
                "required": true,
                "description": "token set to response header",
                "content": {
                  "application/json": {
                    "schema": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "description": "user id"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "invalid input"
          },
          "409": {
            "description": "phone exist"
          }
        }
      }
    },
    "/user/linkForgetPassword/{lang}": {
      "post": {
        "summary": "Returns link for forget pasword.",
        "tags": ["user"],
        "parameters": [
          {
            "in": "path",
            "name": "lang",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "language"
                }
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "phone": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "send sms successful"
          },
          "400": {
            "description": "invalid input (phone number)"
          },
          "418": {
            "description": "Your account credit is not enough"
          },
          "502": {
            "description": "server error to send email"
          }
        }
      }
    },
    "/user/setNewPassword/{lang}": {
      "post": {
        "summary": "Returns survey question.",
        "tags": ["user"],
        "parameters": [
          {
            "in": "path",
            "name": "lang",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "language"
                }
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "uuid": {
                    "type": "string"
                  },
                  "newPassword": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "send email successful"
          },
          "400": {
            "description": "envalid input"
          }
        }
      }
    },
    "/user/changePassword/{lang}": {
      "post": {
        "summary": "Returns survey question.",
        "tags": ["user"],
        "parameters": [
          {
            "in": "path",
            "name": "lang",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "language"
                }
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "phone": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string",
                    "description": "periviuse password"
                  },
                  "newPassword": {
                    "type": "string",
                    "description": "new password"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "send email successful"
          },
          "400": {
            "description": "envalid input"
          }
        }
      }
    },
    "/auth/verifyCode": {
      "post": {
        "summary": "Returns survey question.",
        "tags": ["user"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "phone": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "send sms successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "description": "verify code",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "invalid input (phone number/email)"
          },
          "418": {
            "description": "Your account credit is not enough"
          },
          "502": {
            "description": "server error to send email"
          }
        }
      }
    },
    "/auth/signIn/{lang}": {
      "post": {
        "tags": ["user"],
        "parameters": [
          {
            "in": "path",
            "name": "lang",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "language"
                }
              }
            }
          }
        ],
        "summary": "Creates a new user.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "phone": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "description": "user id"
                        },
                        "userName": {
                          "type": "string",
                          "description": "user id"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "phone exist / invalid input"
          }
        }
      }
    },
    "/note/{lang}/{userId}/{date}": {
      "get": {
        "summary": "return note content.",
        "tags": ["note"],
        "parameters": [
          {
            "in": "path",
            "name": "lang",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "language"
                }
              }
            }
          },
          {
            "in": "path",
            "name": "userId",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "language"
                }
              }
            }
          },
          {
            "in": "path",
            "name": "date",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "language"
                }
              }
            }
          },
          {
            "name": "x-auth-token",
            "in": "header",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "an authorization header"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "content": {
                          "type": "string",
                          "description": "note content"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "note is not exist"
          }
        }
      }
    },
    "/survay/surveyQuestion/{lang}": {
      "post": {
        "summary": "Returns survey question.",
        "tags": ["survay"],
        "parameters": [
          {
            "in": "path",
            "name": "lang",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "language"
                }
              }
            }
          },
          {
            "in": "header",
            "name": "x-auth-token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "an authorization header"
                }
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "IMEi": {
                    "type": "string"
                  },
                  "userId": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "answers": {
                      "type": "object",
                      "description": "list of answer that user can select them.",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "description": "number of answers"
                        },
                        "answer": {
                          "type": "string",
                          "description": "text for answers"
                        }
                      }
                    },
                    "userAnswers": {
                      "type": "string",
                      "description": "number of answer that user select them befor."
                    },
                    "userDescription": {
                      "type": "string",
                      "description": "user description about answer."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "envalid input"
          }
        }
      }
    },
    "/survay/userSurveyAnswer/{lang}": {
      "put": {
        "summary": "update user survey answers.",
        "tags": ["survay"],
        "parameters": [
          {
            "in": "path",
            "name": "lang",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "language"
                }
              }
            }
          },
          {
            "in": "header",
            "name": "x-auth-token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "an authorization header"
                }
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["rate"],
                "properties": {
                  "userId": {
                    "type": "integer"
                  },
                  "IMEi": {
                    "type": "string"
                  },
                  "rate": {
                    "type": "integer"
                  },
                  "answers": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "successful"
          },
          "400": {
            "description": "envalid input /invalid id / inavlid token"
          }
        }
      }
    },
    "/healthTracking/userInfo/{userId}/{lang}": {
      "post": {
        "tags": ["healthTracking"],
        "parameters": [
          {
            "in": "path",
            "name": "lang",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "language"
                }
              }
            }
          },
          {
            "in": "path",
            "name": "userId",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "description": "user id"
                }
              }
            }
          },
          {
            "name": "x-auth-token",
            "in": "header",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "an authorization header"
                }
              }
            }
          }
        ],
        "summary": "set user health tracking information",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "date": {
                    "type": "string"
                  },
                  "deleted": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "categoryId": {
                          "type": "integer"
                        },
                        "trackingOptionId": {
                          "type": "integer"
                        },
                        "hasMultipleChoise": {
                          "type": "integer"
                        }
                      }
                    }
                  },
                  "selected": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "categoryId": {
                          "type": "integer"
                        },
                        "trackingOptionId": {
                          "type": "integer"
                        },
                        "hasMultipleChoise": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "date": "2020-06-06",
                  "deleted": [
                    {
                      "categoryId": 2,
                      "trackingOptionId": 10,
                      "hasMultipleChoise": 0
                    },
                    {
                      "categoryId": 2,
                      "trackingOptionId": 5,
                      "hasMultipleChoise": 1
                    }
                  ],
                  "selected": [
                    {
                      "categoryId": 1,
                      "trackingOptionId": 10,
                      "hasMultipleChoise": 0
                    },
                    {
                      "categoryId": 2,
                      "trackingOptionId": 11,
                      "hasMultipleChoise": 1
                    }
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "successful"
          },
          "400": {
            "description": "invalid intery"
          }
        }
      }
    },
    "/healthTracking/userInfo/{userId}/{date}/{lang}": {
      "get": {
        "tags": ["healthTracking"],
        "parameters": [
          {
            "in": "path",
            "name": "userId",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "description": "user id"
                }
              }
            }
          },
          {
            "in": "path",
            "name": "date",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "date"
                }
              }
            }
          },
          {
            "in": "path",
            "name": "lang",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "language"
                }
              }
            }
          },
          {
            "name": "x-auth-token",
            "in": "header",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "an authorization header"
                }
              }
            }
          }
        ],
        "summary": "get information about user health tracking",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "data": [
                      {
                        "id": 6,
                        "title": "ورزش",
                        "hasMultipleChoice": 1,
                        "color": "#00AEEF",
                        "icon": "<svg </svg>\n",
                        "options": [
                          {
                            "id": 21,
                            "title": "دو",
                            "icon": "<svg</svg>\n",
                            "selected": []
                          },
                          {
                            "id": 22,
                            "title": "شنا",
                            "icon": "<svg</svg>\n",
                            "selected": []
                          }
                        ]
                      },
                      {
                        "id": 7,
                        "title": "همسرانگی",
                        "hasMultipleChoice": 0,
                        "color": "#00AEEF",
                        "icon": "<svg </svg>\n",
                        "options": [
                          {
                            "id": 26,
                            "title": "محاقظت شده",
                            "icon": "<svg</svg>\n",
                            "selected": []
                          },
                          {
                            "id": 27,
                            "title": "محافظت نشده",
                            "icon": "<svg</svg>\n",
                            "selected": [
                              {
                                "id": 11,
                                "trackingOptionId": 27
                              }
                            ]
                          }
                        ]
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/profile/getProfile/{userId}/{lang}": {
      "get": {
        "tags": ["profile"],
        "parameters": [
          {
            "in": "path",
            "name": "userId",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "description": "user id"
                }
              }
            }
          },
          {
            "in": "path",
            "name": "lang",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "language"
                }
              }
            }
          },
          {
            "name": "x-auth-token",
            "in": "header",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "an authorization header"
                }
              }
            }
          }
        ],
        "summary": "send user peofile information to user",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "description": "user profile information",
                      "properties": {
                        "user_id": {
                          "type": "integer"
                        },
                        "birthdate": {
                          "type": "string"
                        },
                        "avg_cycle_length": {
                          "type": "integer"
                        },
                        "avg_period_length": {
                          "type": "integer"
                        },
                        "avg_sleeping_hour": {
                          "type": "integer"
                        },
                        "pms_length": {
                          "type": "integer"
                        },
                        "height": {
                          "type": "integer"
                        },
                        "weight": {
                          "type": "integer"
                        },
                        "pregnant": {
                          "type": "integer"
                        },
                        "pregnancy_try": {
                          "type": "integer"
                        },
                        "locked": {
                          "type": "integer"
                        },
                        "last_period_date": {
                          "type": "string"
                        },
                        "blood_type": {
                          "type": "string"
                        },
                        "ovulation_prediction": {
                          "type": "integer"
                        },
                        "period_prediction": {
                          "type": "integer"
                        },
                        "red_days": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "user not found"
          }
        }
      }
    },
    "/profile/getPeriodInfo/{userId}/{lang}": {
      "get": {
        "tags": ["profile"],
        "parameters": [
          {
            "in": "path",
            "name": "userId",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "description": "user id"
                }
              }
            }
          },
          {
            "in": "path",
            "name": "lang",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "language"
                }
              }
            }
          },
          {
            "name": "x-auth-token",
            "in": "header",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "an authorization header"
                }
              }
            }
          }
        ],
        "summary": "send user peofile information to user",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "description": "user profile information",
                      "properties": {
                        "user_id": {
                          "type": "integer"
                        },
                        "avg_cycle_length": {
                          "type": "integer"
                        },
                        "avg_period_length": {
                          "type": "integer"
                        },
                        "pms_length": {
                          "type": "integer"
                        },
                        "pregnant": {
                          "type": "integer"
                        },
                        "pregnancy_try": {
                          "type": "integer"
                        },
                        "last_period_date": {
                          "type": "string"
                        },
                        "ovulation_prediction": {
                          "type": "integer"
                        },
                        "period_prediction": {
                          "type": "integer"
                        },
                        "red_days": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "user not found"
          }
        }
      }
    },
    "/profile/getGeneralInfo/{userId}/{lang}": {
      "get": {
        "tags": ["profile"],
        "parameters": [
          {
            "in": "path",
            "name": "userId",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "description": "user id"
                }
              }
            }
          },
          {
            "in": "path",
            "name": "lang",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "language"
                }
              }
            }
          },
          {
            "name": "x-auth-token",
            "in": "header",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "an authorization header"
                }
              }
            }
          }
        ],
        "summary": "send user peofile information to user",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "description": "user profile information",
                      "properties": {
                        "user_id": {
                          "type": "integer"
                        },
                        "birthdate": {
                          "type": "string"
                        },
                        "avg_sleeping_hour": {
                          "type": "integer"
                        },
                        "height": {
                          "type": "integer"
                        },
                        "weight": {
                          "type": "integer"
                        },
                        "locked": {
                          "type": "integer"
                        },
                        "blood_type": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "user not found"
          }
        }
      }
    },
    "/profile/editProfile/{userId}/{lang}": {
      "put": {
        "tags": ["profile"],
        "parameters": [
          {
            "in": "path",
            "name": "userId",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "description": "user id"
                }
              }
            }
          },
          {
            "in": "path",
            "name": "lang",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "language"
                }
              }
            }
          },
          {
            "name": "x-auth-token",
            "in": "header",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "an authorization header"
                }
              }
            }
          }
        ],
        "summary": "edit user peofile information to user",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "birthdate": {
                    "type": "string"
                  },
                  "cycleLength": {
                    "type": "integer"
                  },
                  "periodLength": {
                    "type": "integer"
                  },
                  "sleepingHour": {
                    "type": "integer"
                  },
                  "pmsLength": {
                    "type": "integer"
                  },
                  "height": {
                    "type": "integer"
                  },
                  "weight": {
                    "type": "integer"
                  },
                  "pregnant": {
                    "type": "integer"
                  },
                  "pregnancyTry": {
                    "type": "integer"
                  },
                  "isLock": {
                    "type": "integer"
                  },
                  "lastPeriodDate": {
                    "type": "string"
                  },
                  "bloodType": {
                    "type": "string"
                  },
                  "ovulationPred": {
                    "type": "integer"
                  },
                  "periodPred": {
                    "type": "integer"
                  },
                  "redDays": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "404": {
            "description": "information not found"
          }
        }
      }
    },
    "/profile/editGeneralInfo/{userId}/{lang}": {
      "put": {
        "tags": ["profile"],
        "parameters": [
          {
            "in": "path",
            "name": "userId",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "description": "user id"
                }
              }
            }
          },
          {
            "in": "path",
            "name": "lang",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "language"
                }
              }
            }
          },
          {
            "name": "x-auth-token",
            "in": "header",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "an authorization header"
                }
              }
            }
          }
        ],
        "summary": "edit user peofile information to user",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "birthdate": {
                    "type": "string"
                  },
                  "sleepingHour": {
                    "type": "integer"
                  },
                  "height": {
                    "type": "integer"
                  },
                  "weight": {
                    "type": "integer"
                  },
                  "isLock": {
                    "type": "integer"
                  },
                  "bloodType": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "404": {
            "description": "information not found"
          }
        }
      }
    },
    "/profile/editPeriodInfo/{userId}/{lang}": {
      "put": {
        "tags": ["profile"],
        "parameters": [
          {
            "in": "path",
            "name": "userId",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "description": "user id"
                }
              }
            }
          },
          {
            "in": "path",
            "name": "lang",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "language"
                }
              }
            }
          },
          {
            "name": "x-auth-token",
            "in": "header",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "an authorization header"
                }
              }
            }
          }
        ],
        "summary": "edit user peofile information to user",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "cycleLength": {
                    "type": "integer"
                  },
                  "periodLength": {
                    "type": "integer"
                  },
                  "pmsLength": {
                    "type": "integer"
                  },
                  "pregnant": {
                    "type": "integer"
                  },
                  "pregnancyTry": {
                    "type": "integer"
                  },
                  "lastPeriodDate": {
                    "type": "string"
                  },
                  "ovulationPred": {
                    "type": "integer"
                  },
                  "periodPred": {
                    "type": "integer"
                  },
                  "redDays": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "404": {
            "description": "information not found"
          }
        }
      }
    },
    "/profile/deleteProfile/{userId}/{lang}": {
      "delete": {
        "tags": ["profile"],
        "parameters": [
          {
            "in": "path",
            "name": "userId",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "description": "user id"
                }
              }
            }
          },
          {
            "in": "path",
            "name": "lang",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "language"
                }
              }
            }
          },
          {
            "name": "x-auth-token",
            "in": "header",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "an authorization header"
                }
              }
            }
          }
        ],
        "summary": "edit user peofile information to user",
        "responses": {
          "200": {
            "description": "OK"
          },
          "404": {
            "description": "information not found"
          }
        }
      }
    },
    "/profile/pregnancyMode/{userId}/{lang}": {
      "get": {
        "tags": ["profile"],
        "parameters": [
          {
            "in": "path",
            "name": "userId",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "description": "user id"
                }
              }
            }
          },
          {
            "in": "path",
            "name": "lang",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "language"
                }
              }
            }
          },
          {
            "name": "x-auth-token",
            "in": "header",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "an authorization header"
                }
              }
            }
          }
        ],
        "summary": "send user peofile information to user",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "description": "user profile information",
                      "properties": {
                        "pregnant": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "user not found"
          }
        }
      }
    },
    "/profile/getUserStatus/{userId}/{lang}": {
      "get": {
        "tags": ["profile"],
        "parameters": [
          {
            "in": "path",
            "name": "userId",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "description": "user id"
                }
              }
            }
          },
          {
            "in": "path",
            "name": "lang",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "language"
                }
              }
            }
          },
          {
            "name": "x-auth-token",
            "in": "header",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "an authorization header"
                }
              }
            }
          }
        ],
        "summary": "send user peofile information to user",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "description": "user profile information",
                      "properties": {
                        "pregnant": {
                          "type": "integer"
                        },
                        "pregnancy_try": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "user not found"
          }
        }
      }
    },
    "/profile/lockStatus/{userId}/{lang}": {
      "get": {
        "tags": ["profile"],
        "parameters": [
          {
            "in": "path",
            "name": "userId",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "description": "user id"
                }
              }
            }
          },
          {
            "in": "path",
            "name": "lang",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "language"
                }
              }
            }
          },
          {
            "name": "x-auth-token",
            "in": "header",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "an authorization header"
                }
              }
            }
          }
        ],
        "summary": "send user peofile information to user",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "description": "use lock info",
                      "properties": {
                        "locked": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "user not found"
          }
        }
      }
    },
    "/profile/updateUserStatus/{userId}/{lang}": {
      "put": {
        "tags": ["profile"],
        "parameters": [
          {
            "in": "path",
            "name": "userId",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "description": "user id"
                }
              }
            }
          },
          {
            "in": "path",
            "name": "lang",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "language"
                }
              }
            }
          },
          {
            "name": "x-auth-token",
            "in": "header",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "an authorization header"
                }
              }
            }
          }
        ],
        "summary": "edit user peofile information to user",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "pregnant": {
                    "type": "integer"
                  },
                  "pregnancyTry": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "invalid intery"
          }
        }
      }
    },
    "/profile/setLock/{userId}/{lang}": {
      "put": {
        "tags": ["profile"],
        "parameters": [
          {
            "in": "path",
            "name": "userId",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "description": "user id"
                }
              }
            }
          },
          {
            "in": "path",
            "name": "lang",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "language"
                }
              }
            }
          },
          {
            "name": "x-auth-token",
            "in": "header",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "an authorization header"
                }
              }
            }
          }
        ],
        "summary": "edit user peofile information to user",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "isLock": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "invalid intery"
          }
        }
      }
    },
    "/interview/ordinarUser/{userId}/{lang}": {
      "post": {
        "tags": ["interview"],
        "parameters": [
          {
            "in": "path",
            "name": "lang",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "language"
                }
              }
            }
          },
          {
            "in": "path",
            "name": "userId",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "description": "user id"
                }
              }
            }
          },
          {
            "name": "x-auth-token",
            "in": "header",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "an authorization header"
                }
              }
            }
          }
        ],
        "summary": "save ordinar User peofile information in data base",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "description": "user profile information",
                    "properties": {
                      "birthdate": {
                        "type": "string"
                      },
                      "avgCycleLength": {
                        "type": "integer"
                      },
                      "avgPeriodLength": {
                        "type": "integer"
                      },
                      "lastPeriodDate": {
                        "type": "string"
                      },
                      "pregnancyTry": {
                        "type": "integer"
                      }
                    }
                  }
                },
                "example": {
                  "birthdate": "1377-05-05",
                  "avgCycleLength": 25,
                  "avgPeriodLength": 7,
                  "lastPeriodDate": "2020-05-05",
                  "pregnancyTry": "0"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "invalid intery."
          },
          "404": {
            "description": "information not found"
          },
          "409": {
            "description": "user profile information exist."
          }
        }
      }
    },
    "/interview/pregnantUser/{userId}/{lang}": {
      "post": {
        "tags": ["interview"],
        "parameters": [
          {
            "in": "path",
            "name": "lang",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "language"
                }
              }
            }
          },
          {
            "in": "path",
            "name": "userId",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "description": "user id"
                }
              }
            }
          },
          {
            "name": "x-auth-token",
            "in": "header",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "an authorization header"
                }
              }
            }
          }
        ],
        "summary": "save pregnant User peofile information in data base",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "description": "user profile information",
                    "required": ["lastPeriodDate"],
                    "properties": {
                      "birthdate": {
                        "type": "string"
                      },
                      "lastPeriodDate": {
                        "type": "string"
                      },
                      "conceptionDate": {
                        "type": "string"
                      },
                      "dueDate": {
                        "type": "string"
                      }
                    }
                  }
                },
                "example": {
                  "birthdate": "1377-05-05",
                  "lastPeriodDate": "2020-05-05",
                  "conceptionDate": "2020-05-05",
                  "dueDate": "2021-05-05"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "invalid intery."
          },
          "404": {
            "description": "information not found (user id isn't exist )"
          }
        }
      }
    },
    "/pregnancy/getPregnancyData/{userId}/{lang}": {
      "get": {
        "tags": ["pregnancy"],
        "parameters": [
          {
            "in": "path",
            "name": "userId",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "description": "user id"
                }
              }
            }
          },
          {
            "in": "path",
            "name": "lang",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "language"
                }
              }
            }
          },
          {
            "name": "x-auth-token",
            "in": "header",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "an authorization header"
                }
              }
            }
          }
        ],
        "summary": "get user pregnancy info",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "description": "user profile information",
                      "properties": {
                        "due_date": {
                          "type": "string"
                        },
                        "abortion": {
                          "type": "integer"
                        },
                        "conception_date": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "user information not found"
          }
        }
      }
    },
    "/pregnancy/savePregnancyData/{userId}/{lang}": {
      "post": {
        "tags": ["pregnancy"],
        "parameters": [
          {
            "in": "path",
            "name": "userId",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "description": "user id"
                }
              }
            }
          },
          {
            "in": "path",
            "name": "lang",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "language"
                }
              }
            }
          },
          {
            "name": "x-auth-token",
            "in": "header",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "an authorization header"
                }
              }
            }
          }
        ],
        "summary": "save user pregnancy info",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "dueDate": {
                    "type": "string"
                  },
                  "abortion": {
                    "type": "integer"
                  },
                  "conceptionDate": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "invalid information"
          },
          "404": {
            "description": "information not found"
          },
          "409": {
            "description": "contradiction between information"
          }
        }
      }
    },
    "/pregnancy/setPregnancyEnd/{userId}/{dueDate}/{lang}": {
      "post": {
        "tags": ["pregnancy"],
        "parameters": [
          {
            "in": "path",
            "name": "userId",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "description": "user id"
                }
              }
            }
          },
          {
            "in": "path",
            "name": "lang",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "language"
                }
              }
            }
          },
          {
            "in": "path",
            "name": "dueDate",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "language"
                }
              }
            }
          },
          {
            "name": "x-auth-token",
            "in": "header",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "an authorization header"
                }
              }
            }
          }
        ],
        "summary": "save user pregnancy info",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "invalid information"
          },
          "404": {
            "description": "information not found"
          },
          "409": {
            "description": "contradiction between information"
          }
        }
      }
    },
    "/cycle/getLastPeriodDate/{userId}/{lang}": {
      "get": {
        "tags": ["cycle"],
        "parameters": [
          {
            "in": "path",
            "name": "userId",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "description": "user id"
                }
              }
            }
          },
          {
            "in": "path",
            "name": "lang",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "language"
                }
              }
            }
          },
          {
            "name": "x-auth-token",
            "in": "header",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "an authorization header"
                }
              }
            }
          }
        ],
        "summary": "get user pregnancy info",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "description": "user profile information",
                      "properties": {
                        "last_period_date": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "user information not found"
          }
        }
      }
    },
    "/cycle/getUserAllPeriodDays/{userId}/{lang}": {
      "get": {
        "tags": ["cycle"],
        "parameters": [
          {
            "in": "path",
            "name": "userId",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "description": "user id"
                }
              }
            }
          },
          {
            "in": "path",
            "name": "lang",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "language"
                }
              }
            }
          },
          {
            "name": "x-auth-token",
            "in": "header",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "an authorization header"
                }
              }
            }
          }
        ],
        "summary": "get all bleeding day",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "data": {
                      "date": [
                        "2020-07-09",
                        "2020-07-10",
                        "2020-07-11",
                        "2020-07-12"
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "user information not found"
          }
        }
      }
    },
    "/cycle/editLastPeriodDate/{userId}/{lastPeriodDate}/{lang}": {
      "put": {
        "tags": ["cycle"],
        "parameters": [
          {
            "in": "path",
            "name": "userId",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "description": "user id"
                }
              }
            }
          },
          {
            "in": "path",
            "name": "lang",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "language"
                }
              }
            }
          },
          {
            "in": "path",
            "name": "lastPeriodDate",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "last Period Date"
                }
              }
            }
          },
          {
            "name": "x-auth-token",
            "in": "header",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "an authorization header"
                }
              }
            }
          }
        ],
        "summary": "edit user peofile information to user",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "invalid information"
          }
        }
      }
    },
    "/cycle/setBleedingDays/{userId}/{lang}": {
      "put": {
        "tags": ["cycle"],
        "parameters": [
          {
            "in": "path",
            "name": "userId",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "description": "user id"
                }
              }
            }
          },
          {
            "in": "path",
            "name": "lang",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "language"
                }
              }
            }
          },
          {
            "name": "x-auth-token",
            "in": "header",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "an authorization header"
                }
              }
            }
          }
        ],
        "summary": "edit user peofile information to user",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "example": {
                  "deleteDate": ["2020-07-09", "2020-07-10"],
                  "addDate": ["2020-07-11", "2020-07-12"]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "invalid information entery"
          }
        }
      }
    }
  }
}
